#canvas{
  margin: auto;
}

.game{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over{
  top: -370px;
  position: relative;
  border: 1px solid white;
  background-color: #ff0019bd;
  padding-block: 20px;
}