<h1 class="text-center">{{title}}</h1>
<p class="text-center">Puntos: {{statusGame.points}}</p>

<!-- <div class="btn btn-primary"><i class="fa-solid fa-play"></i></div> -->

<div class="game">
  <canvas #refCanvas width="600" height="600" id="canvas"></canvas>
</div>


@if (isGameOver()) {
  <div class="game-over text-center">
    <h1>Game Over</h1>
    <button class="btn btn-primary" (click)="restartGame()">Reiniciar</button>
  </div>
}

@if (isPauseGame()) {
  <div class="game-over text-center">
    <h1>Pausa</h1>
    <button class="btn btn-primary" (click)="startGame()">Continuar</button>
  </div>
}

